<article>
    <section class = "section">
        <div class="card" >
            <!-- <div class= "card-title" style="text-align: center;">
                <h3>Login Here!</h3>
            </div> -->
            <div class="card-body">
            <form [formGroup] = 'signupForm'>
                <div class = "container">
                    <div class="form-group mt">
                        <label for="firstName">First Name: </label>
                        <input type="text" class="form-control" name="firstName" id="firstName" aria-describedby="helpId"
                            placeholder="Enter firstName" formControlName='firstName' [ngClass] = "{'is-invalid': signupForm?.get('firstName')?.errors && (signupForm?.get('firstName')?.touched || signupForm?.get('firstName')?.pristine)}">
                        <div class = "invalid-feedback" *ngIf = "signupForm?.get('firstName')?.errors && (signupForm?.get('firstName')?.touched || signupForm?.get('firstName')?.pristine)">
                            <div *ngIf = "f?.firstName?.errors?.required"> Firstname is required</div>
                            <div *ngIf = "f?.firstName?.errors?.minlength">Minimum Length is 5</div>
                        </div>
                    </div>
                    <div class="form-group mt">
                        <label for="lastName">Last Name: </label>
                        <input type="text" class="form-control" name="lastName" id="lastName" aria-describedby="helpId"
                            placeholder="Enter lastName" formControlName='lastName' [ngClass] = "{'is-invalid': f?.lastName?.errors}">
                        <div class = "invalid-feedback" *ngIf= "f?.lastName?.errors && (f?.lastName?.touched || f?.lastName?.pristine)">
                            <div *ngIf = "f?.lastName?.errors?.required">Lastname is required</div>
                            <div *ngIf = "f?.lastName?.errors?.minlength">Minimum Length is 2</div>
                        </div>
                    </div>
                    <div class="form-group mt">
                        <label for="mailId">Email: </label>
                        <input type="text" class="form-control" name="mailId" id="mailId" aria-describedby="helpId"
                            placeholder="Enter mailId" formControlName='mailId' [ngClass] = "{'is-invalid': f?.mailId?.errors}">
                            <div class = "invalid-feedback" *ngIf= "f?.mailId?.errors && (f?.mailId?.touched || f?.mailId?.pristine)">
                                <div *ngIf = "f?.mailId?.errors?.required">Email is required</div>
                            </div>
                    </div>
                    <!-- <div formGroupName = "pwd"> -->
                        <div class="form-group mt">
                            <label for="password">Password: </label>
                            <input type="password" class="form-control" name="password" id="password" aria-describedby="helpId" 
                                placeholder="Enter password" formControlName='password' [ngClass] = "{'is-invalid': signupForm?.get('password')?.errors && signupForm?.get('password')?.errors?.invalidPassword}">
                            <div class="invalid-feedback" *ngIf="signupForm?.get('password')?.errors">
                                <div *ngIf="signupForm?.get('password')?.errors?.required">Password is required</div>
                                <div *ngIf="signupForm?.get('password')?.touched && signupForm?.get('password')?.errors?.invalidPassword">Minimum eight characters, at least one letter and one number
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt">
                            <label for="confirmPassword">Confirm Password: </label>
                            <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" aria-describedby="helpId" 
                                placeholder="Enter confirmPassword" formControlName='confirmPassword' [ngClass] = "{'is-invalid': signupForm.get('confirmPassword')?.errors}">
                                <div class="invalid-feedback" *ngIf="signupForm?.get('confirmPassword')?.errors">
                                    <div *ngIf = "signupForm.get('confirmPassword')?.errors?.required">Password is required</div>
                                    <!-- <div *ngIf = "signupForm.get('confirmPassword')?.value !== signupForm.get('password')?.value && signupForm?.get('confirmedPassword')?.hasError('passwordMismatch') ">Password Mismatch</div> -->
                                    <div *ngIf = "signupForm.get('confirmPassword')?.touched && signupForm.get('confirmPassword')?.errors?.passwordMismatch">Password Mismatch</div>
                                </div>
                        </div>
                    <!-- </div> -->

                    <button class="btn btn-primary btn-lg mt" (click) = "submit()">Register</button>
                </div>
            </form>
                
            </div>
        </div>
    </section>
</article>
